<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greensoft.secondlife">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".SecondLifeApplication">
        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraViewActivity"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.registration.UserRegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.login.UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mobile_device.registration.MobileDeviceRegisterActivity" />
        <!--
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        -->
    </application>

</manifest>